
html,body {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom: 0px;
}

body,ul,li,header,nav,aside,section,article,p {
	padding:0;
	margin:0;
	border:0;
}

body {
	background:#424242;
}

pageContent {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom: 0px;
}


#statesScroller > li {
	padding:0 10px;
	border-bottom:1px solid #ccc;
	height:40px; line-height:40px;
	font-weight:bold;
	cursor:pointer;
}

#countiesScroller > li {
	padding:0 10px;
	border-bottom:1px solid #ccc;
	height:40px; line-height:40px;
	font-weight:bold;
	cursor:pointer;
}


.listSelected {
	background-color:#424242;
	background-image:-webkit-gradient(linear, 0 0, 0 100, from(#0069d6), to(#999da9));
	background-image:-moz-linear-gradient(top, #0069d6, #999da9);
	background-image:-o-linear-gradient(top, #0069d6, #999da9);
	color: #FFF;
	font-weight:bold;
}

#contentScroller {
	position:absolute;
	padding:15px;
	left:0px;
	right:0px;
	bottom: 0px;
	top: 0px;
}

nav, article {
	position:absolute;
	top:44px; bottom:0; left:0; right:0;
	font-size:15px;
	background:#fff;
	
}

#stateWrapper {
	position:absolute;
	top:44px; bottom:0; left:0; right:0;
}

#countyWrapper {
	position:relative;
	height: 100%;	
	background:#fff;
}

#statesContainer {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom: 284px;
	background:#fff;
}

#countyContainer {
	position:absolute;
	height:238px;
	left:0px;
	right:0px;
	bottom: 44px;
}

#activeContent {
	position:relative;
	width:100%;
	min-height:100%;
	overflow: hidden;
	border-top:1px solid #999;
    background: -webkit-linear-gradient(top , rgba(128,128,128,0.5) 0%, rgba(255,255,255,0) 3%), url("./images/metal_texture_light.png") repeat;
}

#contentScrollableInstance {
	position: absolute;	
	left:0px;
	right:0px;
	bottom: 50px;
	top: 115px;
}

#contentFooter {
	position: absolute;	
	left:15px;
	right:15px;
	bottom: 0px;
	height: 45px;
	padding-top:5px;
	border-top:1px solid #CCCCCC;
}

.hidden {
	display:none;
	visibility:hidden;	
}

#aboutLink {
	position: absolute;	
	top:8px;
	right:8px;
}

#contentHeader {
	border-bottom:1px solid #CCCCCC;	
}

#tableContent {
	position:absolute;
	padding: 15px;
	left:20px;
	right:20px;
}

#aboutContent {
	position: absolute;	
	left:0px;
	right:0px;
	bottom: 0px;
	top: 0px;
	background-color:rgba( 0,0,0,0.5 );
}

#map {
	width:100%;
	height:90%;
	background: url("./images/usa_transparent_light.png") no-repeat center;
}

#map image {
	-webkit-backface-visibility: hidden;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

.chartContainer {
	width:100%;
	max-width:100%;
}


.defaultView {
	width:100%;
	height:100%;
    background: url("./images/usa_transparent.png") no-repeat center, -webkit-radial-gradient(center center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(128,128,128,0.6) 100%), url("./images/metal_texture_light.png") repeat;
    background: url("./images/usa_transparent.png") no-repeat center, -moz-radial-gradient(center center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(128,128,128,0.6) 100%), url("./images/metal_texture_light.png") repeat;
    color:white;
    text-align:center;
    vertical-align:center;
}

#copyright {
	color:#666;
	position:absolute;
	bottom: 25px;
	width:100%;
	text-align: center;
}

#dataDisclaimer {
	color:#666;
	position:absolute;
	bottom: 10px;
	width:100%;
	text-align: center;
}

.splitViewNavigator_body .viewNavigator_root .viewNavigator_content .viewNavigator_contentHolder {
	background: url("./images/metal_texture_light.png") repeat;
}


.splitViewNavigator_sidebar .viewNavigator_root .viewNavigator_content .viewNavigator_contentHolder {
	background: -webkit-linear-gradient(left , rgba(128,128,128,0.5) 0%, rgba(255,255,255,0.3) 50%, rgba(128,128,128,0.5) 100%), url("./images/metal_texture.png") repeat;
	background:  -moz-linear-gradient(left , rgba(128,128,128,0.5) 0%, rgba(255,255,255,0.3) 50%, rgba(128,128,128,0.5) 100%), url("./images/metal_texture.png") repeat;
}


.splitViewNavigator_sidebar .viewNavigator_root .viewNavigator_content .viewNavigator_contentHolder li {
	background: white;
}

.splitViewNavigator_sidebar .viewNavigator_root .viewNavigator_content .viewNavigator_contentHolder .listSelected {
	background-color:#424242;
	background-image:-webkit-gradient(linear, 0 0, 0 100, from(#0069d6), to(#999da9));
	background-image:-moz-linear-gradient(top, #0069d6, #999da9);
	background-image:-o-linear-gradient(top, #0069d6, #999da9);
	color: #FFF;
	font-weight:bold;
}



.viewNavigator_backButtonPosition {
	position:absolute;
	left: 5px;
	top: .7em;
}

.viewNavigator_header {
	background: -webkit-linear-gradient(top , rgba(0,0,0,0.25) 0%, rgba(200,200,200,0.3) 20%, rgba(128,128,128,0.3) 40%, rgba(0,0,0,0.6) 99%), url("./images/metal_texture.png") repeat;
	background: -moz-linear-gradient(top , rgba(0,0,0,0.25) 0%, rgba(200,200,200,0.3) 20%, rgba(128,128,128,0.3) 40%, rgba(0,0,0,0.6) 99%), url("./images/metal_texture.png") repeat;
	font-size:11pt;
}
